<!DOCTYPE html>
<html>
<head>
	<title>Croco rules</title>
</head>
<body>
	<header>
		<h1 class="page-name">Смотри, я делаю сайт</h1>
	</header>
	<main>
	{% for post in posts %}
		<div class="post">
			<span class="post__date">published: {{ post.published_date }}</span>
			<h2 class="post__name">
				<a class="post__link">{{ post.title }}</a>
			</h2>
			<p class="post__text">{{ post.text|linebreaksbr }}</p>
		</div>
	{% endfor %}
	{% for post in posts %}
		<div class="post">
			<span class="post__date">published: {{ post.published_date }}</span>
			<h2 class="post__name">
				<a class="post__link">{{ post.title }}</a>
			</h2>
			<p class="post__text">{{ post.text|linebreaksbr }}</p>
		</div>
	{% endfor %}
	{% for post in posts %}
		<div class="post">
			<span class="post__date">published: {{ post.published_date }}</span>
			<h2 class="post__name">
				<a class="post__link">{{ post.title }}</a>
			</h2>
			<p class="post__text">{{ post.text|linebreaksbr }}</p>
		</div>
	{% endfor %}
	</main>
</body>
</html>