<!DOCTYPE html>
<html>
<head>
	<title>Croco rules</title>
</head>
<body>
	<header>
		<h1 class="page-name">Смотри, я делаю сайт</h1>
	</header>
	<main>
		<div class="post">
			<span class="post__date">13.12.2017</span>
			<h2 class="post__name">
				<a class="post__link">Ляляля</a>
			</h2>
			<p class="post__text">тралялял</p>
		</div>
		<div class="post">
		<span class="post__date">12.03.2016</span>
			<h2 class="post__name">Труляля</h2>
			<p class="post__text">ничего</p>
		</div>
		<div class="post">
			<span class="post__date">09.02.1900</span>
			<h2 class="post__name">Я - король мира</h2>
			<p class="post__text">что вам еще надо</p>
		</div>
	</main>
</body>
</html>